# Environment
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/

# Application data
data/*.csv
data/db/
data/profiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db